<h1>Navigation</h1>


<h3> Your Revisions </h3>

<ul>
<% for meme in @results do %>
  <li>Created at: <%= meme.created_at %> <br />   Message: <%= meme.message %> <br /> <%= link_to "Show Me!", beanstalkdisplay_path(:id => meme.id), :target => "_blank"%> <%=meme.id %></li> 
<% end %>
</ul>
